@import '../variables/variables.scss';

.card {
	box-sizing: border-box;
	color: #ffffff;

	.image-container {
		position: relative;
		overflow: hidden;

		.card-image {
			display: block;
			width: 100%;
		}

		.card-content {
			position: absolute;
			z-index: 2;
			top: 0;
			width: 100%;
			height: 100%;

			.card-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
		
				.drop-date {
					.date {
						color: #ffffff;
					}
		
					.description {
						color: #b5b5b5;
					}
				}
			}
		
			.card-body {
		
				h4 {
					font-size: 100%;
					text-align: center;
				}
		
				.link {
					text-align: center;
		
					a {
						color: #ffffff;
						text-decoration: none;
					}
				}
			}
		}
	}

	.card-athletes-footer {
		button {
			@include removeButtonDefaults();
			@include buttonStyle();
			
		}
	}
}