@import '../variables/variables.scss';

.card {
	box-sizing: border-box;
	color: #ffffff;

	.image-container {
		position: relative;
		overflow: hidden;

		.card-image {
			display: block;
			width: 100%;
		}

		.card-content {
			position: absolute;
			z-index: 2;
			top: 0;
			width: 100%;
			height: 100%;

			.card-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
		
				.drop-date {
					.date {
						color: #ffffff;
					}
		
					.description {
						color: #b5b5b5;
					}
				}
			}
		
			.card-body {
				text-overflow: ellipsis;
				white-space: nowrap;

				h4 {
					text-align: center;
					font-size: clamp(14px, 3.2vw, 240px);
				}
		
				.link {
					text-align: center;
		
					a {
						color: #ffffff;
						text-decoration: none;
					}
				}
			}
		}
	}

	.card-athletes-footer {
		width: 98%;
		margin: auto;

		button {
			@include removeButtonDefaults();
			@include buttonStyle();
			padding: 10px;
			margin-top: -3px;
			z-index: 40;
			opacity: 100%;
		}
	}
}