@import '../variables/variables.scss';

.card {
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
  transition: all 0.3s ease-in-out;
	&:hover {
		transform: scale(1.01);
	}

	.image-container {
		position: relative;
		overflow: hidden;

		.card-image {
			display: block;
			width: 100%;
		}

		.card-content {
			position: absolute;
			z-index: 2;
			top: 0;
			width: 100%;
			height: 100%;

			.card-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 7%;
		
				.drop-date {
					.date {
						color: #ffffff;
						font-size: clamp(11px, 2.5vw, 18px);
					}
		
					.description {
						color: #b5b5b5;
						font-size: clamp(9px, 2.5vw, 14px);
					}
				}

				img {
					width: clamp(14px, 6vw, 37px);
				}
			}
		
			.card-body {
				text-overflow: ellipsis;
				white-space: nowrap;

				h4 {
					text-align: center;
					font-size: clamp(14px, 3.2vw, 24px);
				}
		
				.link {
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
		
					a {
						color: #ffffff;
						text-decoration: none;
						font-size: clamp(11px, 2.5vw, 18px);
						margin-left: 3.5%;
						cursor: pointer;
						transition: all 0.3s ease-in-out;
						&:hover {
							transform: scale(1.01);
							text-decoration: underline;
						}
					}

					img {
						width: clamp(10px, 2.5vw, 18px);
					}
				}
			}
		}
	}

	.card-athletes-footer {
		width: 98%;
		margin: auto;

		img {
			width: clamp(14px, 4vw, 24px);
		}

		button {
			@include removeButtonDefaults();
			@include buttonStyle();
		}
	}
}

@media only screen and (min-width: 760px) {
	.card {	
		.image-container {
				.card-content {	
					.card-header {
						.drop-date {
							.date {
								font-size: clamp(11px, 1.8vw, 18px);
							}

							.description {
								font-size: clamp(9px, 1.6vw, 14px);
							}
						}
						img {
							width: clamp(14px, 3.5vw, 37px);
						}
					}
				
					.card-body {
						h4 {
							font-size: clamp(14px, 2vw, 24px);
						}
				
						.link {
							a {
								font-size: clamp(11px, 1.75vw, 18px);
							}
		
							img {
								width: clamp(10px, 1.75vw, 18px);
						}
					}
				}
			}
		}

		.card-athletes-footer {
			img {
				width: clamp(14px, 2.5vw, 24px);
			}
	
			button {
				@include removeButtonDefaults();
				@include buttonStyle();
				font-size: clamp(11px, 1.75vw, 18px);
				padding: clamp(8px, 1.5vw, 18px);
			}
		}
	}
}

@media only screen and (min-width: 1150px) {
	.card {	
		.image-container {
				.card-content {	
					.card-header {
						.drop-date {
							.date {
								font-size: clamp(11px, 1.4vw, 18px);
							}

							.description {
								font-size: clamp(9px, 1.2vw, 14px);
							}

						}
						img {
							width: clamp(14px, 2.8vw, 37px);
						}
					}
				
					.card-body {
						h4 {
							font-size: clamp(14px, 1.8vw, 24px);
						}
				
						.link {
							a {
								font-size: clamp(11px, 1.5vw, 18px);
							}
		
							img {
								width: clamp(10px, 1.5vw, 18px);
						}
					}
				}
			}
		}

		.card-athletes-footer {
			img {
				width: clamp(14px, 1.8vw, 24px);
			}
	
			button {
				@include removeButtonDefaults();
				@include buttonStyle();
				font-size: clamp(11px, 1.2vw, 18px);
				padding: clamp(8px, 1vw, 18px);
			}
		}
	}
}