@import '../variables/variables.scss';

// Mobile mode
.display-athletes {

	.athletes-map {
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.2%;
		padding: 1.2%;

		h2 {
			@include screenReaderText();
		}

		.card {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.load-more {
		text-align: center;
		margin-top: 110px;
		margin-bottom: 85px;

		button {
			@include removeButtonDefaults();
			text-transform: uppercase;
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: $secondary;
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			font-size: clamp(14px, 3vw, 18px);

			span {
				margin-left: 4px;

				img {
					width: clamp(40px, 12vw, 63px);
				}
			}
		}
	}
}

// Tablet mode 
@media only screen and (min-width: 760px) {
	.display-athletes {

		.athletes-map {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

// Desktop Mode
@media only screen and (min-width: 1150px) {
	.display-athletes {

		.athletes-map {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			max-width: 1512px;
		}

		.load-more {
			margin-top: 85px;
		}
	}
}