@import '../variables/variables.scss';

// Mobile mode
.display-athletes {

	.athletes-map {
		.card {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.load-more {
		text-align: center;

		button {
			@include removeButtonDefaults();
			text-transform: uppercase;
			color: white;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: $secondary;
			margin: 36px;
			cursor: pointer;
		}
	}
}

// Tablet mode 
@media only screen and (min-width: 480px) {
	.display-athletes {

		.athletes-map {
			
		}
	
		.load-more {
	
			button {
				
			}
		}
	}
}