@import '../variables/variables.scss';

header {
	color: #ffffff;

	nav {
		flex-grow: 1;
		max-width: 1512px;
		margin: auto;
	}

	h1 {
		font-family: "Montserrat", sans-serif;
		font-weight: 800;
		text-align: center;
		margin: 6px;
		margin-top: 14px;
		text-transform: uppercase;
		font-size: 24px;
	}

	.sort {
		display: flex;
		justify-content: center;
		align-items: center;

		label {
			font-weight: 800;
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			margin: 6px;
			text-transform: uppercase;
		}

		.select-wrapper {
			@include sortByInput();
		}
	}
}

// Tablet mode
@media only screen and (min-width: 700px) {
	header {
		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		h1 {
			font-size: clamp(24px, 3.2vw, 36px);
			margin: clamp(24px, 3.2vw, 40px);
			margin-left: 1.2%;
		}

		.sort {
			margin: 24px;
			margin-right: 1.2%;

			label {
				font-size: clamp(16px, 2vw, 18px);
				margin-right: clamp(8px, 2vw, 26px);
			}
	
			.select-wrapper {
				i {
					position: absolute;
					top: 35%;
					right: 16px;
					padding: 3px;
				}

				select {
					font-size: 14px;
					padding: 10px 140px 10px 18px;
				}
			}
		}
	}
}

// Desktop mode
@media only screen and (min-width: 1024px) {
	header {
		.sort {
			.select-wrapper {
				i {
					position: absolute;
					top: 40%;
					right: 23px;
					padding: 3px;
				}

				select {
					padding: 14px 226px 14px 30px;
				}
			}
		}
	}
}