// Colors
$primary: #4b7dee;
$secondary: #3082F9;
$background: linear-gradient(180deg, #222222 0%, #071120 100%);

// Fonts
$roboto: 'Roboto', 'Helvetica Neue', sans-serif;
$Montserrat: "Montserrat", sans-serif;

// Element Mixins
@mixin removeButtonDefaults {
	background-color: transparent;
	border-width: 0;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	padding: 0;
}

@mixin buttonStyle {
	background: $primary;
	color: #ffffff;
	width: 100%;
	// font-size: 18px;
	// padding-top: 18px;
	// padding-bottom: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: clamp(8px, 3vw, 18px);
	margin-top: -3px;
	z-index: 40;
	opacity: 100%;
	font-size: clamp(11px, 2.5vw, 18px);
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 3.5%;
	}
	cursor: pointer;
}

@mixin buttonHoverState {
	
}

@mixin sortByInput {
	position: relative;
	margin: 6px;
	padding: 0px;

	i {
		position: absolute;
		top: 35%;
		right: 12px;
		border: solid #ffffff;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	select {
		-webkit-appearance: none;
		font-size: 12px;
		color: rgba(255, 255, 255, 0.5);
		background-color: #141414;
		border: 1px solid #717171;
		padding: 8px 120px 8px 15px;
	}
}

// Accessability
// Text meant only for screen readers.
@mixin screenReaderText {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}